<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>TDL</title>
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>

	<!-- Nav bar -->
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
		<div class="container">
			<a class="navbar-brand" href="#">TDL</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!--
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<form class="d-flex" role="search">
							<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-light" type="submit">Search</button>
						</form>
					</li>
				</ul>
			    -->
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<button type="button" class="btn btn-success ms-auto" data-bs-toggle="modal"
							data-bs-target="#task-modal" data-source="New Task">Add Task</button>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Filters
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/">All</a></li>
							<li><a class="dropdown-item" href="/status/todo">Todo</a></li>
							<li><a class="dropdown-item" href="/status/progress">In Progress</a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="/status/complete">Complete</a></li>
						</ul>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/login">Log out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Just a empty line -->
	<div class="container my-4">
		<br>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="Label">Add a task</h5>
				</div>

				<div class="modal-body">
					<div class="input-group mb-3">
						<span class="input-group-text" id="task-form-display">Task</span>
						<input type="text" class="form-control" placeholder="Task name" aria-label="task-name"
							aria-describedby="basic-addon1">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button id="submit-task" type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Tasks Table -->
	<div class="container table-responsive bg-light my-auto py-2 rounded">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Task</th>
					<th scope="col">Creation Date</th>
					<th scope="col">Complete Date</th>
					<th scope="col">Time Spent</th>
					<th scope="col">Satus</th>
					<th scope="col">Edit</th>
					<th scope="col">Remove</th>
				</tr>
			</thead>
			<tbody>

				{% if result is defined %}
				{% for todo in result %}
				<tr>
					<td>{{ todo.id }}</td>
					<td>{{ todo.name }}</td>
					<td>2022-10-21</td>
					<td>2022-10-16</td>
					<td>5 days</td>


					{% if todo.status == "In Progress" %}
					<td><button type="button" class="btn btn-outline-warning btn-sm state"
							data-source="{{todo.id}}">{{todo.status}}</button></td>
					{%endif%}
					{% if todo.status == "Todo" %}
					<td><button type="button" class="btn btn-outline-secondary btn-sm state"
							data-source="{{todo.id}}">{{todo.status}}</button></td>
					{%endif%}
					{% if todo.status == "Complete" %}
					<td><button type="button" class="btn btn-outline-success btn-sm state"
							data-source="{{todo.id}}">{{todo.status}}</button></td>
					{%endif%}

					<td><button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
							data-bs-target="#task-modal" data-source="{{ todo.id }}"
							data-content="{{ todo.name }}">Edit</button></td>
					<td><button class="btn btn-outline-danger btn-sm remove" data-source="{{ todo.id }}"
							type="button">Remove</button></td>
				</tr>
				{% endfor %}
				{% endif %}
			</tbody>
		</table>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
		crossorigin="anonymous"></script>

	<script src="{{ url_for('static', filename='scripts/modal.js') }}"></script>

</body>

</html>