<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>TDL</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='styles/signin.css') }}" rel="stylesheet">
</head>

<body class="text-center">

    <style>
        body {
          background-image: url('https://th.bing.com/th/id/R.53beb32b88b569d5365d31c45c752199?rik=EkTxLIUKuA5%2fZQ&riu=http%3a%2f%2fpavbca.com%2fwalldb%2foriginal%2f1%2f9%2f0%2f464494.jpg&ehk=TqI8XmJUPXvx1t4l4TBPu0TP1lNXQAfrL4FXe71jKLQ%3d&risl=&pid=ImgRaw&r=0');
        }
    </style>    

        <main class="form-signin w-100 m-auto">
        <form>
            <!-- 
                <img class="mb-4" src="https://cdn.pixabay.com/photo/2013/07/13/11/34/wifi-158401_960_720.png" alt="" width="72" height="57">
            -->
            <h1 class="h1 text-success">TDL</h1>
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        
            <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
            </div>

            <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            </div>
        
            <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2022–2022</p>
        </form>
        </main>
    
    <div id="pocket-extension-root"><div class="pocket-egasyq"></div></div><div id="pocket-extension-styles"><style data-emotion="pocket"></style></div></body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>

</html>